.Profile-container{
    width: 100%;
    background-color: rgb(249, 249, 249);
}

.Main-header{
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: white;
    border: rgb(230, 230, 230) 1px solid;}

.Main-insimage{
    width: 230px;
    height: 66px;

    margin: auto;
    margin-left: 17%;

    cursor: pointer;
}

.Main-inputBorder{
    width: 268px;
    height: 36px;
    
    margin: auto;
    margin-left: 11%;
    margin-right: 5%;
    display: flex;
    flex-direction: row;
    
    border: rgb(230, 230, 230) 1px solid;
    background-color: rgb(249, 249, 249);
    
}

.Main-searchInput{
    width: 245px;
    height: 25px;

    margin: auto;
    margin-top: 2%;
    margin-left: 3%;

    border: rgb(230, 230, 230) 1px solid;
    background-color: rgb(250, 249, 249);
    border: none;
    outline: medium;
}

.Main-recent{
    width: 375px;
    height: 450px;

    margin: auto;
    margin-left: -3.5%;
    margin-top: 3.3%;
    position: absolute;

    background-color: white;
    border: rgb(230, 230, 230) 1px solid;
    border-radius: 2%;
}

.Main-rencentclose{
    width: 375px;
    height: 450px;

    margin: auto;
    margin-left: -3.5%;
    margin-top: 3.3%;
    position: absolute;

    background-color: white;
    border: rgb(230, 230, 230) 1px solid;
    border-radius: 2%;
    display: none;
}

.Main-recent-content{
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Main-recent-text{
    font: inherit;
    font-weight: 500;
    font-size: 16px;

    margin: auto;
    margin-top: 4%;
    margin-left: 4%;
}

.Main-recent-clear{
    font: inherit;
    color:deepskyblue;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;

    margin: auto;
    margin-top: 4%;
    margin-right: 4%;
}

.Main-clearIcon{
    margin-top: 3%;
}

.Main-functions{
    margin: auto;
    display: flex;
    flex-direction: row;
    margin-right: 25%;
}

.Main-icon{
    width: 24px;
    height: 24px;

    margin: auto;
    margin-left: 8%;
    margin-right: 8%;
    
    cursor: pointer;
}

.Main-avatarPart{

}

.Main-avatar1{
    width: 24px;
    height: 24px;

    margin: auto;
    margin-left: 8%;
    margin-right: 8%;

    cursor: pointer;
    border: black 1px solid;
    border-radius: 50%;
}

.Main-avatar2{
    width: 24px;
    height: 24px;

    margin: auto;
    margin-left: 8%;
    margin-right: 8%;
    cursor: pointer;
}

.Main-userOptions{
    width: 230px;
    height: 194px;

    margin: auto;
    margin-top: 1.2%;
    margin-left: -12%;

    background-color: white;
    border: rgb(230, 230, 230) 1px solid;
    border-radius: 2%;
    position: absolute;
}

.Main-optionclose{
    width: 230px;
    height: 194px;
    margin-top: 3%;
    background-color: white;
    border: red 1px solid;
    position: absolute;
    display: none;
}

.Main-option-profile{
    width: 230px;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.Main-option-colour1{
    background-color: rgb(240, 240, 240);
    cursor: pointer;
}

.Main-option-colour2{
    background-color: white;
    cursor: pointer;
}

.Main-option-ref{
    display: none;
}

.Main-option-icon{
    margin: auto;
    margin-left: 8%;
    margin-right: 5%;
    margin-top: 4%;
    margin-bottom: 4%;
}

.Main-option-text{
    margin: auto;
    margin-left: 3%;
    margin-top: 4%;
    margin-bottom: 4%;
}

.Main-option-line{
    width: 230px;
    height: 2px;
    background-color: rgb(230, 230, 230);
}

.Profile-personal{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 935px;
    height: 150px;
    /* border: orange 1px solid; */
    margin-top: 20px;
    margin-bottom: 20px;
}

.Profile-mainAvatar{
    width: 150px;
    height: 150px;

    margin: auto;
    margin-left: 85px;
    margin-right: 85px;
}

.Profile-userInfo{
    width: 613px;
    height: 150px;
    /* border: green 1px solid; */

    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 15px; */
    margin-right: -10px;
}

.Profile-oneRow{
    display: flex;
    flex-direction: row;
}

.Profile-userName{
    font-size: 27px;
    font-weight: 300;

    margin-left: -292px;
    margin-top: 15px;
}

.Profile-editButton{
    width: 89px;
    height: 29px;

    margin-left: 20px;
    margin-top: 15px;

    background-color: white;
    border: rgb(220, 220, 220) 1px solid;
    border-radius: 5px;

    font: inherit;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.Profile-setting{
    margin-left: 20px;
    margin-top: 18px;
    font-size: 22px;
    cursor: pointer;
}

.Profile-post-data{
    margin-left: -280px;
    margin-right: 10px;
    margin-top: 20px;

    font-weight: 500;
}

.Profile-post-text{
    margin-left: -5px;
    margin-top: 21px;

    font-size: 15px;
}

.Profile-follow-data{
    margin-left: 45px;
    margin-top: 20px;

    font-weight: 500;
}

.Profile-follow-text{
    margin-left: 5px;
    margin-top: 21px;

    font-size: 15px;
}

.Profile-line{
    width: 920px;
    height: 1px;

    background-color: rgb(220, 220, 220);
    margin: auto;
    margin-top: 0px;
}

.Profile-firstBorder{
    height: 60px;
    margin-left: 36%;
    margin-right: 4.5%;
    display: flex;
    flex-direction: row;
    border-top: 1px black solid;
}

.Profile-firstIcon{
    margin: auto;
    font-size: 12px;
    color: black;
    cursor: pointer;
}

.Profile-firstText{
    margin: auto;
    margin-left: 4px;
    font-family:sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: black;
    cursor: pointer;
}

.Profile-border{
    height: 60px;
    margin-right: 4.5%;
    display: flex;
    flex-direction: row;
    border-top: 1px black solid;
    border: none;
}

.Profile-postText{
    margin: auto;
    margin-left: 4px;
    font-family:sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: gray;
    cursor: pointer;
}

.Profile-Icon{
    margin: auto;
    font-size: 12px;
    cursor: pointer;
    color: gray;
}

.Profile-lastBorder{
    height: 60px;
    margin-right: 36%;
    display: flex;
    flex-direction: row;
    border-top: 1px black solid;
    border: none;
}

.Profile-lastIcon{
    margin-top: 1.3%;
    font-size: 12px;
    color: gray;
    cursor: pointer;
}

.Profile-lastText{
    margin: auto;
    margin-left: 4px;
    font-family:sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: gray;
    cursor: pointer;
}

.Profile-mainClass{
    margin: auto;
    width: 935px;
    /* border: orange 1px solid; */
}

.Profile-class{
    display: flex;
    flex-direction: row;
}

.Profile-siglePicture{
    margin: auto;
    width: 293px;
    width: 293px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    cursor: pointer;
}

.Profile-onSiglePicture{
    margin: auto;
    width: 293px;
    width: 293px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    cursor: pointer;
}